
h1{
    color: red;
}

body{
    background-color: blue;
}

#carte{
    width: 800px;
    margin: 0 auto;
    background-color: rgb(184, 184, 225);
    text-align: center;
    align-content: center;
}

img{
    width: 300px;
}

ul{
    list-style-type: none;
}